body{
	background-color:rgb(234,210,187);
}
.img-fluid{
	width: 120%;
}
.list-group-item{
	border: none;
	background-color:rgb(234,210,187);
    font-size: 1.2em;
<<<<<<< HEAD
}
.earthquake-home{
	width: 35px;
=======
   }



/*============ Media Quire =========*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 


>>>>>>> ca14cedf0e628fd0abc59ca22177ad686d4a7c82
}

/*.row{
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 1rem;
}*/

