/* * {
    box-sizing: border-box;
    margin: 0;
    border: 0;
} */
#After1Modal, #After1Modal .modal-dialog{
	background-color:rgb(134,191,136);
	color: white;
}
#After1Modal #header{
	font-size: 2em;
}
/* 
.image{
    width:100%;
    text-align: center;
}

.img-fluid{
    display: inline-block;
    width: 60%;
	padding-left: 4em;

} */
#After1Modal .list-group-item{
	border: none;
	padding: 0;
	background-color:rgb(134,191,136);
    font-size: 1.2em;
}
.earthquake-home{
	width: 30px;
}



/*============ Media Quire =========*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
#header{
	font-size: 1.3em;
}

}







