body{
	background-color:rgb(234,210,187);
}
.img-fluid{
	width: 120%;
}
.list-group-item {
	border: none;
<<<<<<< HEAD
	background-color: rgb(234, 210, 187);
	font-size: 1.2em;
=======
	background-color:rgb(234,210,187);
    font-size: 1.2em;
}
.earthquake-home{
	width: 35px;
   }



/*============ Media Quire =========*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 


>>>>>>> 6b19864975bf2b4c4ee0c50ff44019ee196cce7c
}

/*.row{
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 1rem;
}*/

