body{
	background-color:rgb(208,187,234);
}
#bubble1{
    height: 20em;
    width: 22em;
	transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); 	
    -moz-transform:rotate(-7deg); 	
    -webkit-transform:rotate(-7deg); 
    -o-transform:rotate(-7deg);
}
#bubble2{
    height: 20em;
     width: 22em;
	transform:rotate(7deg);
    -ms-transform:rotate(7deg); 	
    -moz-transform:rotate(7deg); 	
    -webkit-transform:rotate(7deg); 
    -o-transform:rotate(7deg);
}

#bubble3{
    height: 20em;
     width: 25em;
	transform:rotate(15deg);
    -ms-transform:rotate(15deg); 	
    -moz-transform:rotate(15deg); 	
    -webkit-transform:rotate(15deg); 
    -o-transform:rotate(15deg);
}

.img-fluidcccc{
	width: 50%;
	height: 40%;
    -moz-size:width:50% height:40%;
    -ms-size:width:50% height:40%;     
    -webkit-size:width:50% height:40%; 
    -o-size:width:50% height:40%;

	
}

/*============ Media Quire =========*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 


}