#header{
    margin:10px 0 0 0;
    text-align: center;
}

.image1{
    width: 480px;
}

.image1 img{
    width:100%;
    float:left;
    margin:80px 0 0 100px;
}

.image2{
    margin:0 auto;
    text-align: center;
    width:200px;
}
.image2 img{
    width:100%;
}

.image3{
    width:480px;
}

.image3 img{
    width:100%;
    float:left;
    margin:100px 0 0 100px;
}

.content1{
    width:480px;
    height:550px;
    float:left;
    margin:70px 0 0 80px;
}

.content3{
    width:480px;
    height:550px;
    float:left;
    margin:30px 0 0 80px;
}

.card1{
    width:300px;
    height:290px;
    border:1px solid black;
    float:left;
    margin:20px 50px 0 120px;
}
.card2{
    width:300px;
    height:290px;
    border:1px solid black;
    float:left;
    margin:20px 50px 0 0;
}
.card3{
    width:300px;
    height:290px;
    border:1px solid black;
    float:left;
    margin:20px 0 0 0;
}