#After3Modal, 
#After3Modal .modal-content{
	background-color:rgb(234,210,187);
	color: white;
}

#After3Modal #header{
	font-size: 2em;
}

#After3Modal .list-group-item {
	border: none;
	background-color:rgb(234,210,187);
    font-size: 1.2em;
}
#After3Modal .earthquake-home{
	width: 35px;
   }



