body{
    background-color: #1F87B4;
    color:white;
}

.image{
    width:100%;
    text-align: center;
}

.image img{
    width:80%;
}
.list-group{
    margin-top:120px;
    font-size: 1.2em;
}

.list-group-item{
    border:none;
    background-color:#1F87B4;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /*.list-group{*/
        /*margin-top:400px;*/
        /*font-size: 1.2em;*/
    /*}*/
}

.earthquake-home{
    width: 35px;
}
