#Before3Modal,
#Before3Modal .modal-content {
    background-color: #9BD3CB;
    color:white;
}

#Before3Modal .emergency_table{
    width:100%;
}

#Before3Modal .list{
    font-size:1.2em;
    margin-top: 20%;
}

#Before3Modal .list a{
    color:white;
}

#Before3Modal .list li a:hover{
    color: indianred;
}

.backpackImg{
    width:100%;
}

.backpackImg img{
    width:80%;
}

.littleImages{
    width:60%;
}

.littleImages img{
    width:50%;
}

.littleImages .water{
    width:30%;
}

.littleImages .flashlight{
    width:60%;
}

.littleImages .blanket{
    width:70%;
}

.image
{

    display:inline-block;
    width:100px;
    height:100px;
    transition:  transform 200ms cubic-bezier(0.45,-0.4, 0.41, 1.46);
    pointer-events:none;
}

.littleImages:hover img{
    transform: scale(1.6);
    cursor: pointer;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 992px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card2 {
        margin: 300px;
    }
    .card3 {
        margin-top: 400px;
    }
}

.earthquake-home{
    width: 35px;
}