#Before3Modal,
#Before3Modal .modal-content {
    background-color: #9BD3CB;
    color:white;
}

#Before3Modal .emergency_table{
    width:100%;
}

#Before3Modal .list{
    font-size:1.2em;
    margin-top: 20%;
}

#Before3Modal .list a{
    color:white;
}

#Before3Modal .list li a:hover{
    color: indianred;
}

#Before3Modal .backpackImg{
    width:100%;
}

#Before3Modal .backpackImg img{
    width:80%;
}

#Before3Modal .littleImages{
    width:60%;
}

#Before3Modal .littleImages img{
    width:50%;
}

#Before3Modal .littleImages .water{
    width:30%;
}

#Before3Modal .littleImages .flashlight{
    width:60%;
}

#Before3Modal .littleImages .blanket{
    width:70%;
}

/*#Before3Modal .image*/
/*{*/

    /*display:inline-block;*/
    /*width:100px;*/
    /*height:100px;*/
    /*transition:  transform 200ms cubic-bezier(0.45,-0.4, 0.41, 1.46);*/
    /*pointer-events:none;*/
/*}*/

#Before3Modal .littleImages:hover img{
    transform: scale(1.6);
    cursor: pointer;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 992px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}
