body{
    background-color: #1F87B4;
    color:white;
}

.image{
    width:100%;
    text-align: center;
}

.image img{
    width:80%;
}
.list-group{
    margin-top:120px;
    font-size: 1.2em;
}

.list-group-item{
    border:none;
    background-color:#1F87B4;
}