#Before2Modal,
#Before2Modal .modal-content {
    background-color:#7B5D52;
    color:white;
}
#Before2Modal .card1{
    background-image:url("../images/before(list).png");
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    margin-top: -8%;
    padding-top:10%;
    padding-left:5%;
}

#Before2Modal .form-check{
    margin-left:-8%;
}

#Before2Modal .card2{
    background-image:url("../images/before(list).png");
    background-size: cover;
    background-repeat: no-repeat;
    color:black;
    margin-top:20%;
    padding-top:10%;
    padding-left:5%;
}

/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (min-width: 1200px) {

}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {

}

@media (max-width: 992px) {

}

/* iphone 7 plus */
@media only screen and (max-width: 736px) {

}

/* iphone 7 */
@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 568px) {

}


