#header{
    margin:10px 0 0 0;
    text-align: center;
}
.image{
    width:480px;
}
.image img{
    width:100%;
    float:left;
    margin:-20px 0 0 100px;
}
.content{
    width:480px;
    height:550px;
    float:left;
    margin:100px 0 0 80px;
}