.header{
    margin:10px 0 0 0;
    text-align: center;
}

.infoPage_cross{
    position: fixed;
    right: 1rem;
    top: 1rem;
    font-size: 35px;
    cursor: pointer;
    z-index: 999;
}

.infoPage_home{
    position: fixed;
    right: 1.5rem;
    top: 50%;
    font-size: 25px;
    cursor: pointer;
    z-index: 999;
}