.header{
    margin: 1rem 0 3rem 0;
    text-align: center;
}

.infoPage_cross{
    position: absolute;
    right: 1rem;
    top: 1.1rem;
    font-size: 30px;
    cursor: pointer;
    z-index: 999;
    color: white;
}

.infoPage_home{
    position: absolute;
    right: 1.5rem;
    top: 1.1rem;
    left: 2rem;
    font-size: 25px;
    cursor: pointer;
    z-index: 999;
    color:white;
}

.modal-header {
    border-bottom: none;
}

.infoPage_cross.close {
    color: white;
    font-size: 34px;
    opacity: 0.8;
}

.infoPage_cross.close:hover {
    opacity: 1;
}

.infoPage_home {
    background: transparent;
    border: none;
    color: white;
    opacity: 0.8;
}

.infoPage_home:hover {
    color: white;
    opacity: 1;
}

.fui-arrow-right{
    transform:rotate(20deg);
}

.fui-arrow-right:hover{
    font-size:50px;
    cursor: pointer;
}
/* ====== before3: emergency backpack ====== */
.emergency_table{
    text-align: center;
}
.emergency_table td{
    width: 20%;
    height: 4rem;
}

.emergency_table .plus-btn{
    cursor: pointer;
}

.backpack_list{
    margin-top: 50px;
    border-left: 2px solid #f1f1f1;
}
.backpack_list ul{
    list-style: none;
}

.earthquake-home{
    width: 35px;
}




@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 
.infoPage_home{
    width: 20px;
}

.infoPage_cross{

}
}


