.header{
    margin: 1rem 0 3rem 0;
    text-align: center;
}

.infoPage_cross{
    position: absolute;
    right: 1rem;
    top: 1.1rem;
    font-size: 30px;
    cursor: pointer;
    z-index: 999;
}

.infoPage_home{
    position: absolute;
    right: 1.5rem;
    font-size: 25px;
    cursor: pointer;
    z-index: 999;
    top: 1.1rem;
    left: 2rem;
}

/* ====== before3: emergency backpack ====== */
.emergency_table{
    text-align: center;
}
.emergency_table td{
    width: 20%;
    height: 4rem;
}

.emergency_table .plus-btn{
    cursor: pointer;
}

.backpack_list{
    margin-top: 50px;
    border-left: 2px solid #f1f1f1;
}
.backpack_list ul{
    list-style: none;
}