
/* navbar */
.navbar.navbar-expand-lg{
    z-index: 998;
}
.navbar.navbar-expand-lg > button.navbar-toggler{
    position: fixed; 
    right: 1rem; 
    top: 1rem; 
    z-index: 999;
}

/* home icon */
.fui-home{
    font-size: 22px;
}

section.indexSection{
    background-color: #c3ecff; 
    background-image: url("../images/cities.png");
    background-size: auto 30%;
    background-repeat: repeat-x;
    background-position: bottom;
}

#building{
    position: absolute; 
    bottom: 0; 
    right: 7rem;
}

#building img{
    height: 26rem;
}

#character-index{
    position:  absolute;
    max-width: 4%;
    right: 15.5rem;
    bottom: 26rem;
}

.temblor-btn{
    font-size: 14px;
    border-radius: 2px;
}

.earthquake-home-content{
}

/* =========== AFTER section =========== */
#after_character{
    position: absolute; 
    bottom:25%; 
    left: 35%;
    width: 30%; 
    z-index: 99;
}
#after_character img{
    width: 5rem;
}

#after_exit{
    position: absolute; 
    bottom: 25%; 
    left:14%
}
#after_exit .btn{
    transform: translate(-20px, -140px);
}

#after_battery{
    position: absolute; 
    bottom: 25%; 
    top: 10%; 
    right: 20%
}

#after_shelf{
    position: absolute; 
    bottom: 25%; 
    right: 12%
}


/* ============= Hazard Level ============= */
.hazardLevelForm{
    margin-top: -8rem;
    text-align: left;
}

.hazardLevelForm .double-input .form-control {
    border-right-width: 0px;
}
.hazardLevelForm .double-input .form-control:focus {
    border-right-width: 1px;
}
.hazardLevelForm .double-input .input-group-btn .btn,
.hazardLevelForm .double-input.focus .input-group-btn .btn{
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    color: #ffffff;
    line-height: 18px;
    height: 42px;
}


/* ============= Before Section ============= */
.before-section{
    background-color: #ed9673;
}

.before-section .before-content{
    height: 25%;
    background-color: #e35a5b;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.before-character img {
    width: 4rem;
}

.before-backpack img{
    width: 4.5rem;
}

.before-shelf img{
    width: 50%;
}

.before-lamp img,
.before-board img
{
    width: 70%;
}

.before-character,
.before-shelf,
.before-backpack,
.before-board
{
    position: absolute;
    bottom: 25%;
}

.before-lamp{
    position: absolute;
    top: 0px;
    right: 43rem;
}

.before-board{
    right: 20rem;
    bottom: 45%;
}

.before-shelf{
    left: 18rem;
}

.before-backpack{
    left: 40rem;
}

.before-character{
    left: 18rem;
}

.visual-before .btn{
    border-radius: 100%;
}

.before-shelf .btn{
    transform: translate(-30px,-185px);
}

.before-board .btn{
    transform: translate(-30px,-60px);
}

/* ============= During Section ============= */

.during-section .scroll-icon a{
    color: white;
    font-weight: 100;
}

.during-section{
    background-color: #9BD3CB;
}

.during-section .during-content{
    height: 25%;
    background-color: #263E48;
}

.during-content{
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    position: absolute;
    bottom: 0px;
}

.during-content h5,
.before-content h5,
.afterSection .text h5
{
    font-size: 22px;
}

.during-content-div,
.visual-before,
.visual
{
    margin: auto;
    padding: 10px;
}

.during-stove,
.during-character,
.during-table
{
    position: absolute;
    bottom: 25%;
}

.during-lamp {
    position: absolute;
    top: 0;
}

.during-captus {
    position: absolute;
    bottom: 43%;
}

.during-shelf-1 {
    position: absolute;
    bottom: 65%;
}

.during-shelf-2 {
    position: absolute;
    bottom: 65%;
}

.during-cutlery {
    position: absolute;
    bottom: 54.5%;
}

.during-stove img,
.during-table img,
.during-lamp img
{
    width: 75%;
}

.during-shelf-1 img,
.during-shelf-2 img,
.during-captus img
{
    width: 90%;
}

.during-character img{
    width: 5rem;
}

/*Large screens*/
@media only screen and (min-width: 1201px) {
    .during-stove{
        right: 55rem;
    }

    .during-character{
        right: 45rem;
    }

    .during-table{
        right: 25rem;
    }

    .during-lamp{
        right: 29rem;
    }

    .during-captus{
        right: 31rem;
    }

    .during-shelf-1{
        right: 66rem;
    }

    .during-shelf-2{
        right: 56rem;
    }

    .during-cutlery{
        right: 67rem;
    }
}

@media only screen and (max-width: 1200px) {
    /*medium devices*/
    .during-stove{
        right: 45rem;
    }

    .during-character{
        right: 35rem;
    }

    .during-table{
        right: 15rem;
    }

    .during-lamp{
        right: 19rem;
    }

    .during-captus{
        right: 21rem;
    }

    .during-shelf-1{
        right: 57rem;
    }

    .during-shelf-2{
        right: 47rem;
    }

    .during-cutlery{
        right: 58rem;
    }
}

@media only screen and (max-width: 992px) {
    /*Small devices*/
    .during-stove{
        right: 35rem;
    }

    .during-character{
        right: 26rem;
    }

    .during-table{
        right: 8rem;
    }

    .during-lamp{
        right: 12rem;
    }

    .during-captus{
        right: 14rem;
    }

    .during-shelf-1{
        right: 46rem;
    }

    .during-shelf-2{
        right: 37rem;
    }

    .during-cutlery{
        right: 47rem;
    }
}

/* extra Small devices*/
@media only screen and (max-width: 768px) {
    .during-stove{
        right: 25rem;

    }

    .during-character{
        right: 19rem;
    }

    .during-table{
        right: 3rem;
    }

    .during-lamp{
        right: 8rem;
    }

    .during-captus{
        right: 9rem;
    }

    .during-shelf-1{
        right: 36rem;
    }

    .during-shelf-2{
        right: 26rem;
    }

    .during-cutlery{
        right: 37rem;
    }
}

@media only screen and (max-width: 568px) {
    .during-stove{
        right: 17rem;

    }

    .during-character{
        right: 14rem;
    }

    .during-table{
        right: 0rem;
    }

    .during-lamp{
        position: absolute;
        top: 35%;
        right: 4.5rem;
    }

    .during-captus{
        position: absolute;
        bottom: 36%;
        right: 6rem;
    }

    .during-shelf-1{
        position: absolute;
        bottom: 47%;
        right: 18.5rem;
    }

    .during-shelf-2{
        position: absolute;
        bottom: 47%;
        right: 23.5rem;
    }

    .during-cutlery{
        position: absolute;
        bottom: 41%;
        right: 24.5rem;
    }

    .during-stove img,
    .during-table img,
    .during-lamp img
    {
        width: 45%;
    }

    .during-shelf-1 img,
    .during-shelf-2 img,
    .during-captus img,
    .during-cutlery img
    {
        width: 55%;
    }

    .during-character img{
        width: 3rem;
    }

}

@media only screen and (max-width: 400px) {
    .during-stove{
        right: 20rem;

    }

    .during-character{
        right: 21rem;
    }

    .during-table{
        right: -2rem;
    }

    .during-lamp{
        position: absolute;
        top: 42%;
        right: 6.5rem;
    }

    .during-captus{
        position: absolute;
        bottom: 33.5%;
        right: 9.5rem;
    }

    .during-shelf-1{
        position: absolute;
        bottom: 39%;
        right: 30.5rem;
    }

    .during-shelf-2{
        position: absolute;
        bottom: 39.5%;
        right: 24rem;
    }

    .during-cutlery{
        position: absolute;
        bottom: 35.5%;
        right: 32.3rem;
    }

    .during-stove img,
    .during-table img,
    .during-lamp img
    {
        width: 35%;
    }

    .during-shelf-1 img,
    .during-shelf-2 img,
    .during-captus img,
    .during-cutlery img
    {
        width: 35%;
    }

    .during-character img{
        width: 3.5rem;
    }

}




/* ============= After Section ============= */
.afterSection{
    background-color: #fddc85;
}

.afterSection .text h5{
    color: #2A3947;
}

.after-text-list-1,
.after-text-list-2
{
    position: absolute;
    width: 40%;
    text-align: left;
    color: #2A3947;

}

.after-text-list-1{
    left: 8%;
}

.after-text-list-2{
    right: 8%;
}

/* .afterSection .visual{
    height: 75%;
    background-image: url("../images/after_main.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    z-index: -1;
} */
/*
.afterSection .visual .btnList{
    position: absolute;
    top: 20%;
    left: 42%;
}*/

.afterSection .text{
    position: absolute;
    bottom:0;
    width:100%;
    height: 25%;
    background-color: #c19871;
}



/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (min-width: 1200px) {

}


/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {

} 

@media (max-width: 992px) {
    /* fix offsreen menu toggle lag */
    #menu{
        display: none;
    }
    .menuon #menu{
        display: flex;
        background: #f1f1f1;
        left: 0;
        text-align: center;
    }
    .menuon #menu li.active{
        border-bottom: none;
        background: #16a085;
    }
    .menuon #menu li.active a{
        color: white;
    }

    #after_character img{
        width: 4rem;
    }

    #after_shelf img,
    #after_exit img, 
    #after_battery img{
        width: 70%;
    }
}

/* iphone 8 plus */
@media only screen and (max-width: 736px) {
    .indexSection .container,
    .indexSection .container .row{
        height: 100%;
    }
    .hazardLevelForm{
        margin-top: 3rem;
    }
    #building{

    }

    #after_character img{
        width: 3rem;
    }
 
    #after_shelf {
        right: -2rem;
    }

    #after_exit {
        left: -1rem;
    }

    #after_exit .btn{
        transform: translate(-12px,-90px);
    }

    #after_battery {
        right:6%;
        top: 40%;
    }
    #after_shelf img,
    #after_exit img, 
    #after_battery img{
        width: 50%;
    }

} 


/* iphone 8 */
@media only screen and (max-width: 667px) {
    #after_character{
        left: 28%;
    }
    #after_character img{
        width: 2rem;
    }

    #after_exit .btn{
        transform: translate(-12px,-90px);
    }

    #after_battery {
        right:6%;
        top:30%;
    }
    #after_shelf img,
    #after_exit img, 
    #after_battery img{
        width: 40%;
    }
} 


@media only screen and (max-width: 568px) {
    .indexSection .container,
    .indexSection .container .row{
        height: 100%;
    }
    .hazardLevelForm{
        width: fit-content;
    }
    #after_character{
        left: 28%;
    }
    #after_character img{
        width: 30%;
    }

    #after_shelf {
        right: -4rem;
    }

    #after_exit {
        left: -2rem;
    }

    #after_exit .btn{
        transform: translate(-12px,-90px);
    }

    #after_battery {
        right:0%;
        top:30%;
    }
    #after_shelf img,
    #after_exit img, 
    #after_battery img{
        width: 32%;
    }
} 
