@import "afterSection.css";

body.modal-open {
    overflow: hidden;
    position: fixed;
}

body.modal-open #character-index{
    z-index: -1;
}

/* navbar */
.navbar.navbar-expand-lg{
    z-index: 998;
}
.navbar.navbar-expand-lg > button.navbar-toggler{
    position: fixed; 
    right: 1rem; 
    top: 1rem; 
    z-index: 999;
}

/* home icon */
.fui-home{
    font-size: 22px;
}

section.indexSection{
    background-color: #c3ecff; 
    background-image: url("../images/cities.png");
    background-size: auto 30%;
    background-repeat: repeat-x;
    background-position: bottom;
}

#building{
    position: absolute; 
    bottom: 0; 
    right: 7rem;
}

#building img{
    height: 26rem;
}

.cloud1{
    position: absolute; 
    top:45%; 
    width: 40%;
}

.cloud2{
    position: absolute; 
    top:20%; 
    width: 30%;
}

#character-index{
    position:  absolute;
    max-width: 4%;
    right: 15.5rem;
    bottom: 26rem;
    z-index:9999; 
}

.temblor-btn{
    font-size: 14px;
    border-radius: 2px;
}

.temblor-btn img{
    width: 12px;
    margin: 5px;
}



/* ============= Hazard Level ============= */
.hazardLevelForm{
    margin-top: -10rem;
    text-align: left;
    position: absolute;
    z-index: 999;
}

.hazardLevelForm .double-input .form-control {
    border-right-width: 0px;
}
.hazardLevelForm .double-input .form-control:focus {
    border-right-width: 1px;
}
.hazardLevelForm .double-input .input-group-btn .btn,
.hazardLevelForm .double-input.focus .input-group-btn .btn{
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    color: #ffffff;
    line-height: 18px;
    height: 42px;
}

/*animation for buttons in before and after*/
.btn{
    color:white;
    animation: pulse 2s linear infinite alternate;
}

@keyframes pulse {
    from {
        background-color: rgba(26,188,156, 0.9)
    }
    to {
        background-color: rgba(26,188,156, 0)
    }
}
    /*from {*/
        /*background: linear-gradient(*/
                /*to right,*/
                /*rgba(145, 149, 149, 0.6) 77%,*/
                /*rgba(145, 149, 149, 0.9) 100%*/
        /*);*/
    /*}*/
    /*to {*/
        /*background: linear-gradient(*/
                /*to right,*/
                /*rgba(219, 221, 221, 0.6) 77%,*/
                /*rgba(219, 221, 221, 0.9) 100%*/
        /*);*/
    /*}*/
/*}*/



/* ============= Before Section ============= */
.before-section{
    background-color: #ed9673;
}

.before-section .before-content{
    height: 25%;
    background-color: #e35a5b;
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.before-character img {
    width: 4rem;
}

.before-backpack img{
    width: 7%;
}

.before-shelf img{
    width: 45%;
}

.before-lamp img,
.before-board img
{
    width: 65%;
}

.before-character,
.before-shelf,
.before-backpack,
.before-board
{
    position: absolute;
    bottom: 25%;
}

.before-lamp{
    position: absolute;
    top: 0px;
    right: 45%;
}

.before-board{
    bottom: 45%;
    right: 14%;
}

.before-shelf{
    left: 10%;
}

.before-backpack{
    left: 0;
}

.before-character{
    position: absolute;
    right: 10%;
}


/*MEDIA QUERIES*/

@media only screen and (min-width: 1200px) {
    /*Large devices*/

}

@media only screen and (max-width: 1200px) {
    /*Medium devices*/

}


@media only screen and (max-width: 992px) {
    /*Small devices*/
    .before-backpack{
        left: 5%;
    }

    .before-shelf{
        left: 2%;
    }

    .before-board{
        right: 5%;
    }

    .before-character img {
        width: 3rem;
    }

    .before-shelf img{
        width: 35%;
    }

    .before-lamp img,
    .before-board img
    {
        width: 55%;
    }

}

@media only screen and (max-width: 768px) {
    /*extra small devices*/
    .before-character img {
        width: 2.5rem;
    }

    .before-shelf img{
        width: 25%;
    }

    .before-lamp img,
    .before-board img
    {
        width: 40%;
    }

    .before-backpack img{
        width: 2.5rem;
    }

    .before-shelf{
        left: -5rem;
    }

    .before-board{
        top: 50% ;
        right: 0;
    }

    .before-backpack{
        left: 40%;
    }
}

@media only screen and (max-width: 568px) {
    /*small mobile devices*/
}

@media only screen and (max-width: 320px) {
    /*extra small mobile devices*/
}



/*ANIMATION before character

.before-character{
   animation: before-character 3s infinite cubic-bezier(0.5,0,0.5,1);
}

@keyframes before-character {
  0%, 5% {
    transform: translate(10rem);
  }
  
  95%, 100% {
    transform: translate(20rem);
  }
}*/

/*BTNS*/

.visual-before .btn{
    border-radius: 100%;
}

.before-shelf .btn{
    transform: translate(-30px,-185px);
}

.before-board .btn{
    transform: translate(-30px,-60px);
}

/* ============= During Section ============= */

.during-section .scroll-icon a{
    color: white;
    font-weight: 100;
}

.during-section{
    background-color: #9BD3CB;
}

.during-section .during-content{
    height: 25%;
    background-color: #263E48;
}

.during-content{
    color: white;
    font-size: 16px;
    text-align: center;
    font-weight: 100;
    position: absolute;
    bottom: 0px;
}

.during-content h5,
.before-content h5,
.afterSection .text h5
{
    font-size: 22px;
}

.during-content-div
{
    margin: auto;
    padding: 10px;
}

.during-stove,
.during-character,
.during-table
{
    position: absolute;
    bottom: 25%;
}

.during-character img.protected{
    position: absolute;
    bottom: 0px;
}

.during-lamp {
    position: absolute;
    top: 0;
}

.during-shelf-1
{
    position: absolute;
    top: 22%;
}

.during-shelf-2
{
    position: absolute;
    top: 19%;
}

.during-cutlery {
    position: absolute;
    top: 30%;
}

.during-stove img,
.during-table img,
.during-lamp img
{
    width: 75%;
}

.during-shelf-1 img,
.during-shelf-2 img
{
    width: 90%;
}

.during-character {
    width: 5rem;
}

/*MEDIA QUERIES*/


@media only screen and (min-width: 1200px) {
    /*Large screens*/
    .during-stove{
        left: 12%;
    }

    .during-character
    {
        right: 20%;
    }

    .during-character img.protected{
        right: 15rem;
    }

    .during-table{
        right: 35%;
    }

    .during-lamp{
        right: 40%;
    }

    .during-shelf-1{
        left: 12%;
    }

    .during-shelf-2{
        left: 24%;
    }

    .during-cutlery{
        left: 14%;
    }
    

}

@media only screen and (max-width: 1200px) {
    /*medium devices*/
    .during-stove{
        left: 15%;
    }

    .during-character{
        right: 18%;
    }

    .during-character img.protected{
        right: 11rem;
    }

    .during-table{
        right: 30%;
    }

    .during-lamp{
        right: 35%;
    }

    .during-shelf-1{
        left: 18%;
    }

    .during-shelf-2{
        left: 30%;
    }

    .during-cutlery{
        left: 20%;
    }
    
}

@media only screen and (max-width: 992px) {
    /*Small devices*/
    .during-stove{
        left: 10%;
    }

    .during-character{
        right: 13%;
    }

    .during-character img.protected{
        right: 10rem;
    }

    .during-table{
        right: 25%;
    }

    .during-lamp{
        right: 32%;
    }

    .during-shelf-1{
        left: 14%;
    }

    .during-shelf-2{
        left: 28%;
    }

    .during-cutlery{
        left: 16%;
    }
    
}


@media only screen and (max-width: 768px) {
    /* extra Small devices*/
    .during-stove{
        left: 8.5%;
    }

    .during-character{
        right: 18%;
    }

    .during-character img.protected{
        right: 5.5rem;
    }

    .during-table{
        right: 22%;
    }

    .during-lamp{
        right: 32%;
    }

    .during-shelf-1{
        left: 15%;
        top: 36.5%;
    }

    .during-shelf-2{
        left: 28%;
        top: 35%;
    }

    .during-cutlery{
        left: 17.5%;
        top: 43%;
    }

    .during-stove img{
        width: 58%;
    }


    .during-shelf-1 img,
    .during-shelf-2 img,
    .during-cutlery img,
    .during-table img,
    .during-lamp img,
    .during-stove img
    {
        width: 55%;
    }

    .during-character,
    .during-character img.protected
    {
        width: 3.5rem;
    }
    
}

@media only screen and (max-width: 568px) {

    .during-stove{
        left: -3rem;

    }

    .during-character{
        right: 12%;
    }

    .during-character img.protected{
        right: 6rem;
    }

    .during-table{
        right: 18%;
    }

    .during-lamp{
        position: absolute;
        right: 25%;
    }

    .during-shelf-1{
        position: absolute;
        top: 51.5%;
        left: 8%;
    }

    .during-shelf-2{
        position: absolute;
        top: 51%;
        left: 18%;
    }

    .during-cutlery{
        position: absolute;
        top: 56%;
        left: 11%;
    }

    .during-stove img,
    .during-lamp img
    {
        width: 30%;
    }

    .during-table img{
        width: 33%;
    }

    .during-shelf-1 img,
    .during-shelf-2 img,
    .during-cutlery img
    {
        width: 35%;
    }

    .during-character img{
        width: 2.5rem;
    }

    .during-character img.protected{
        width: 2.2rem;
    }
    
}

@media only screen and (max-width: 320px) {
    /*  extra extra Small devices*/
    .during-stove{
        left: -8rem;
    }

    .during-character{
        right: 12%;
    }

    .during-character img.protected{
        right: 6rem;
    }

    .during-table{
        right: 0;
    }

    .during-lamp{
        position: absolute;
        right: 20%;
    }

    .during-shelf-1{
        position: absolute;
        top: 51.5%;
        left: 8%;
    }

    .during-shelf-2{
        position: absolute;
        top: 51%;
        left: 18%;
    }

    .during-cutlery{
        position: absolute;
        top: 56%;
        left: 13%;
    }

    .during-stove img,
    .during-lamp img,
    .during-table img
    {
        width: 22%;
    }

    .during-shelf-1 img,
    .during-shelf-2 img,
    .during-cutlery img
    {
        width: 25%;
    }

    .during-character img,
    .during-character img.protected
    {
        width: 2.5rem;
    }
    
}

/* ANIMATIONS */


.during-table,
.during-stove,
.during-cutlery,
.during-shelf-1,
.during-shelf-2,
.during-lamp
{
    -webkit-animation: during-elements-animation 4s ease-in-out 5s 5 alternate;
    -moz-animation: during-elements-animation 4s ease-in-out 5s 5 alternate;
    -o-animation: during-elements-animation 4s ease-in-out 5s 5 alternate;
    animation: during-elements-animation 4s ease-in-out 5s 5 alternate;
}

@keyframes during-elements-animation
{
    0%   {transform:skewX(184deg);}
    20%  {transform:skewX(177deg);}
    40%  {transform:skewX(184deg);}
    60%  {transform:skewX(177deg);}
    80% {transform:skewX(184deg);}
    100% {transform:skewX(177deg);}
}

@-webkit-keyframes during-elements-animation
{
    0%   {transform:skewX(184deg);}
    20%  {transform:skewX(177deg);}
    40%  {transform:skewX(184deg);}
    60%  {transform:skewX(177deg);}
    80% {transform:skewX(184deg);}
    100% {transform:skewX(177deg);}
}

@-moz-keyframes during-elements-animation
{
    0%   {transform:skewX(184deg);}
    20%  {transform:skewX(177deg);}
    40%  {transform:skewX(184deg);}
    60%  {transform:skewX(177deg);}
    80% {transform:skewX(184deg);}
    100% {transform:skewX(177deg);}
}

@-o-keyframes during-elements-animation
{
    0%   {transform:skewX(184deg);}
    20%  {transform:skewX(177deg);}
    40%  {transform:skewX(184deg);}
    60%  {transform:skewX(177deg);}
    80% {transform:skewX(184deg);}
    100% {transform:skewX(177deg);}
}

.during-character img.normal{
    -webkit-animation: normal-character-animation 6s 1 normal ease-in-out forwards;
    -moz-animation: normal-character-animation 6s 1 normal ease-in-out forwards;
    -o-animation: normal-character-animation 6s 1 normal ease-in-out forwards;
    animation: normal-character-animation 6s 1 normal ease-in-out forwards;
}

@-webkit-keyframes normal-character-animation{
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes normal-character-animation{
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes normal-character-animation{
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes normal-character-animation{
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}

.during-character img.surprised{
    -webkit-animation: surprised-character-animation 4s 4s 1 normal ease-in-out forwards;
    -moz-animation: surprised-character-animation 4s 4s 1 normal ease-in-out forwards;
    -o-animation: surprised-character-animation 4s 4s 1 normal ease-in-out forwards;
    animation: surprised-character-animation 4s 4s 1 normal ease-in-out forwards;
}

@-webkit-keyframes surprised-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@-moz-keyframes surprised-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@-o-keyframes surprised-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes surprised-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.during-character img.protected{
    -webkit-animation: protected-character-animation 21s 8s 1 normal ease-in-out backwards;
    -moz-animation: protected-character-animation 21s 8s 1 normal ease-in-out backwards;
    -o-animation: protected-character-animation 21s 8s 1 normal ease-in-out backwards;
    animation: protected-character-animation 21s 8s 1 normal ease-in-out backwards;
}

@-webkit-keyframes protected-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    100% {opacity: 1;}
}

@-moz-keyframes protected-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    100% {opacity: 1;}
}

@-o-keyframes protected-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    100% {opacity: 1;}
}

@keyframes protected-character-animation{
    0% {opacity: 0;}
    25% {opacity: 1;}
    100% {opacity: 1;}
}

.during-content .during-content-div p.step-1{
    -webkit-animation: during-content-step1 5s 1 normal ease-in-out forwards;
    -moz-animation: during-content-step1 5s 1 normal ease-in-out forwards;
    -o-animation: during-content-step1 5s 1 normal ease-in-out forwards;
    animation: during-content-step1 5s 1 normal ease-in-out forwards;
}

@-webkit-keyframes during-content-step1{
    0% {opacity: 1; transform:translateY(6px)}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(6px)}
}

@-moz-keyframes during-content-step1{
    0% {opacity: 1; transform:translateY(6px)}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(6px)}
}

@-o-keyframes during-content-step1{
    0% {opacity: 1; transform:translateY(6px)}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(6px)}
}

@keyframes during-content-step1{
    0% {opacity: 1; transform:translateY(6px)}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(6px)}
}

.during-content .during-content-div p.step-2{
    -webkit-animation: during-content-step2 5s 5.2s 1 normal ease-in-out both;
    -moz-animation: during-content-step2 5s 5.2s 1 normal ease-in-out both;
    -o-animation: during-content-step2 5s 5.2s 1 normal ease-in-out both;
    animation: during-content-step2 5s 5.2s 1 normal ease-in-out both;
}

@-webkit-keyframes during-content-step2{
    0% {opacity: 0; transform:translateY(-38px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-38px)}
}

@-moz-keyframes during-content-step2{
    0% {opacity: 0; transform:translateY(-38px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-38px)}
}

@-o-keyframes during-content-step2{
    0% {opacity: 0; transform:translateY(-38px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-38px)}
}

@keyframes during-content-step2{
    0% {opacity: 0; transform:translateY(-38px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-38px)}
}


.during-content .during-content-div p.step-3{
    -webkit-animation: during-content-step3 5s 10.2s 1 normal ease-in-out both;
    -moz-animation: during-content-step3 5s 10.2s 1 normal ease-in-out both;
    -o-animation: during-content-step3 5s 10.2s 1 normal ease-in-out both;
    animation: during-content-step3 5s 10.2s 1 normal ease-in-out both;
}

@-webkit-keyframes during-content-step3{
    0% {opacity: 0; transform:translateY(-83px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-83px)}
}

@-moz-keyframes during-content-step3{
    0% {opacity: 0; transform:translateY(-83px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-83px)}
}

@-o-keyframes during-content-step3{
    0% {opacity: 0; transform:translateY(-83px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-83px)}
}

@keyframes during-content-step3{
    0% {opacity: 0; transform:translateY(-83px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 0; transform:translateY(-83px)}
}

.during-content .during-content-div p.step-4{
    -webkit-animation: during-content-step4 5s 15.2s 1 normal ease-in-out both;
    -moz-animation: during-content-step4 5s 15.2s 1 normal ease-in-out both;
    -o-animation: during-content-step4 5s 15.2s 1 normal ease-in-out both;
    animation: during-content-step4 5s 15.2s 1 normal ease-in-out both;
}

@-webkit-keyframes during-content-step4{
    0% {opacity: 0; transform:translateY(-125px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 1; transform:translateY(-125px)}
}

@-moz-keyframes during-content-step4{
    0% {opacity: 0; transform:translateY(-125px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 1; transform:translateY(-125px)}
}

@-o-keyframes during-content-step4{
    0% {opacity: 0; transform:translateY(-125px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 1; transform:translateY(-125px)}
}

@keyframes during-content-step4{
    0% {opacity: 0; transform:translateY(-125px)}
    5% {opacity: 1;}
    95% {opacity: 1;}
    100% {opacity: 1; transform:translateY(-125px)}
}


/* ============= After Section ============= */


/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (min-width: 1200px) {

}


/* Large devices (laptops/desktops, 992px) */
@media only screen and (min-width: 992px) {

} 

@media (max-width: 992px) {
    .earthquake-home-content {
        padding: 0 35px;
        margin-bottom: 50px;
    }
    /* fix offsreen menu toggle lag */
    #menu{
        display: none;
    }
    .menuon #menu{
        display: flex;
        background: #f1f1f1;
        left: 0;
        text-align: center;
    }
    .menuon #menu li.active{
        border-bottom: none;
        background: #16a085;
    }
    .menuon #menu li.active a{
        color: white;
    }
}

/* iphone 8 plus */
@media only screen and (max-width: 736px) {
    .earthquake-home-content {
        padding: 0 35px;
        margin-bottom: 50px;
    }
    .indexSection .container,
    .indexSection .container .row{
        height: 100%;
    }
    .hazardLevelForm{
        margin-top: 3rem;
    }
    #building{

    }
} 

/* iphone 8 */
@media only screen and (max-width: 667px) {
} 


@media only screen and (max-width: 568px) {
    .earthquake-home-content {
        padding: 0 35px;
        margin-bottom: 50px;
    }
    .indexSection .container,
    .indexSection .container .row{
        height: 100%;
    }
    .hazardLevelForm{
        width: fit-content;
    }
} 
