.Natural_Disaster_Home_link{
    position: fixed;   
    top: 1rem;
    left: 1rem;
    z-index: 999;
}

/* ============= Hazard Level ============= */
.hazardLevelForm{
    margin-top: 5rem;
    text-align: left;
}

.hazardLevelForm .double-input .form-control {
    border-right-width: 0px;
}
.hazardLevelForm .double-input .form-control:focus {
    border-right-width: 1px;
}
.hazardLevelForm .double-input .input-group-btn .btn {
    background-color: #1abc9c;
    border: 2px solid #1abc9c;
    color: #ffffff;
    line-height: 18px;
    height: 42px;
}

/* ============= After Section ============= */
.afterSection{
    background-color: red;
}
