a{
    cursor: pointer;
}

.twitter{
    display: inline; 
    margin-left: 20px;
}

.earthImageSection{
    width: 100%;
}

.earthImageSection img{
    width: 80%;
}


.introSection{
}

.rssSection{
    padding: 0.5em 1.5em;
    background: #f1f1f1;
    margin-top: 20px;
    max-height: 250px;
    overflow: auto;
}
.rssSection p{
    font-size: 14px;
}



/* natural disaster homepage footer */
.indexFooter {
    padding-top: 15px;
    padding-bottom: 5px;
}

.indexFooter .fui-twitter{
    font-size: 1.4em;
    margin-left: 10px;
}
