.stars {
    /* z-index: -100;  */
    /* position: absolute; */
    /* background-image: url(   http://www.14denoviembre.es/img/hori.png ), url( http://www.14denoviembre.es/img/stars_5.png ); */
    /* background-repeat: repeat-x,repeat-x repeat-y; */
    transform:translate3D(0em, 0em, 0);
    animation: stars 21s ease; 
    transform-style: preserve-3d;
}

a{
    cursor: pointer;
    font-size: 14px;
}

.navbar-brand a{
    color: white;
}

/* Earth + button*/
#earth-button-group{
    position: relative;
}

#earth-button-group img{
    margin-top: 30px;
}

#earth-button-group .earthquake-button {
    position: absolute;
    top: 40%;
    left: 50%;
    /*transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;*/
}


/*Content + rss*/
.introSection{
    color: white;
    font-size: 18px;
    font-weight: 100;
}

.rssSection{
    height: 50%;
    padding: 0.5em 1.5em;
    background: #f1f1f1;
    margin-top: 20px;
    /* max-height: 60%; */
    overflow: auto;
    border-radius: 4px;
}

.rssSection p{
    font-size: 16px;
}


/* natural disaster homepage footer */
.indexFooter {
    position: relative;
    bottom:0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
    background-color: #2A3549;
    /* box-shadow: 0 -2px 2px  rgba(17, 22, 31, 0.8);  */
}

.indexFooter .fui-twitter{
    font-size: 1.4em;
    margin-left: 10px;
}

.twitter {
    display: inline;
    margin-left: 10px;
    color: white;
}

/*Background color*/
body#NaturalDisasterHomepage {
    background-color: #2A3549;
}

body#NaturalDisasterHomepage .container-fluid.content {
    margin-top: 35px;
    padding: 0 150px;
}


/* In case of emergency title */
.navbar{
    background: transparent;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-brand:hover{
    color: rgba(255,255,255,0.9);
}

/* email input */
.form-control[name=email]{
    border: 2px solid #1ABC9C;
}
.form-control[name=email] + .input-group-btn > .btn-primary{
    border: 2px solid #1ABC9C;
    background: #1ABC9C;
    color: white;
}
.form-control[name=email] + .input-group.focus .input-group-btn .btn{
    background: #1ABC9C;
    color: white;
}

/* earthquake button */
.earthquake-button .btn{
    background: #C15257;
    box-shadow: -2px 3px 5px  rgba(17, 22, 31, 0.8); 
}
.earthquake-button .btn:hover{
    box-shadow: 0 1px 2px #11161fcc; 
    transform: translate(-2px, 1px);
}

.indexFooter .row > div{
    padding-top: 6px;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body#NaturalDisasterHomepage .container-fluid.content {
        padding: 0 35px;
        margin-bottom: 80px;
    }
    .indexFooter {
        padding: 0 14px;
    }    
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    body#NaturalDisasterHomepage .container-fluid.content {
        padding: 0 30px;
    }
} 

@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait){
    body#NaturalDisasterHomepage .container-fluid.content {
        padding: 0 35px;
        margin-bottom: 120px;
    }
    .indexFooter {
        padding: 0 19px;
    }    
}

/* iPhone 7 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait){
    body#NaturalDisasterHomepage .container-fluid.content {
        padding: 0 35px;
        margin-bottom: 100px;
    }
    .indexFooter {
        padding: 0 19px;
    }    
}

/* iPhone 7+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait){
    body#NaturalDisasterHomepage .container-fluid.content {
        padding: 0 35px;
        margin-bottom: 120px;
    }
    .indexFooter {
        padding: 0 19px;
    }    
}
